@import url('https://fonts.googleapis.com/css2?family=Oldenburg&family=Petit+Formal+Script&family=Poiret+One&family=Sail&display=swap');

body{
    font-family: "Poiret One", sans-serif; 
    font-weight: 400;
    font-style: normal;
}

.navbar-brand, .menu, .menu-body {
    font-family: "Poiret One", sans-serif; 
    font-weight: 400;
    font-style: normal;
}
