@import url('https://fonts.googleapis.com/css2?family=Oldenburg&family=Petit+Formal+Script&family=Poiret+One&family=Sail&display=swap');


body {
    font-family: "Poiret One", sans-serif; 
    font-weight: 400;
    font-style: normal;
    
}

.navbar {
  font-family: "Poiret One", sans-serif; 
  font-weight: 400;
  font-style: normal;
}

/*
.bg-image {
  background-image: url("assets/images/mikebanana.jpg") no-repeat center/cover;
 
}*/

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
